In [1]:
import geopandas as gpd

In [2]:
path = 'data/ne_10m_urban_areas.shp'
polygons = gpd.read_file(path)

In [3]:
path = 'data/ne_10m_populated_places_simple.shp'
points = gpd.read_file(path)
points.sindex

In [4]:
common_features = gpd.sjoin(points, polygons, how='inner', predicate='intersects')

In [5]:
max_pop = common_features.loc[common_features.groupby('index_right')['pop_max'].idxmax()]

In [6]:
polygon_with_name = polygons.merge(max_pop[['index_right', 'name']], left_index=True, right_on='index_right', suffixes=('_polygon', '_point'))

polygon_with_name = polygon_with_name.drop(columns=['index_right']).rename(columns={'name_point': 'name'}).reset_index(drop=True)

polygon_with_name.shape

(3338, 6)

In [7]:
polygon_with_name.head()

,scalerank,featurecla,area_sqkm,min_zoom,geometry,name
0,5,Urban area,111.989,5.0,"POLYGON ((-2.44605 36.97791, -2.38020 36.84286...",Almería
1,7,Urban area,84.596,7.0,"POLYGON ((-4.81597 36.50886, -4.81470 36.50254...",Marbella
2,8,Urban area,58.169,7.6,"POLYGON ((-5.36449 36.22650, -5.35365 36.20481...",Gibraltar
3,4,Urban area,2288.255,4.0,"POLYGON ((4.50190 43.90707, 4.52883 43.89243, ...",Montpellier
4,4,Urban area,1057.310,4.0,"POLYGON ((2.95244 42.84667, 2.95497 42.84100, ...",Perpignan

In [8]:
polygon_with_name.to_file("result.shp")